@{
    Layout = null;
}

<div class="products-section-03 ">
    <div class="container">
        <div class="row card-row">
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    <a href="#" class=" d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-31.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class=" d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-32.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Simple Mobile 4G LTE Prepaid Smartphone</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class=" d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-33.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">4K UHD LED Smart TV with Chromecast Built-in</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">BEST SELLERS</h2>
                </div>
                <div class="products-section-03__widget">
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-34.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-35.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Simple Mobile 4G LTE Prepaid Smartphone</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-36.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">4K UHD LED Smart TV with Chromecast Built-in</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-37.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-38.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Simple Mobile 4G LTE Prepaid Smartphone</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-39.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">4K UHD LED Smart TV with Chromecast Built-in</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="section-title">
                    <h2 class="title">FLASH SALE TODAY</h2>
                </div>
                <div class="products-section-03__widget">
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-40.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-41.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">Simple Mobile 4G LTE Prepaid Smartphone</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="d-block single-item">
                        <div class="card-product card-product--04 ">
                            <div class="card-image ">
                                <img src="~/assets/media/ui/product/product-42.png" alt="card">
                            </div>
                            <div class="card-body p-0">
                                <h6 class="title">4K UHD LED Smart TV with Chromecast Built-in</h6>
                                <span class="price">$1,500</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>