<div class="breadcrumb ">
    <div class="container">
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text">
                <a class='d-flex align-items-center text-gray-600' href='index.html'>
                    <svg class="home" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.875 16.2498V12.4998C11.875 12.334 11.8092 12.1751 11.6919 12.0579C11.5747 11.9406 11.4158 11.8748 11.25 11.8748H8.75C8.58424 11.8748 8.42527 11.9406 8.30806 12.0579C8.19085 12.1751 8.125 12.334 8.125 12.4998V16.2498C8.125 16.4156 8.05915 16.5745 7.94194 16.6917C7.82473 16.809 7.66576 16.8748 7.5 16.8748H3.75C3.58424 16.8748 3.42527 16.809 3.30806 16.6917C3.19085 16.5745 3.125 16.4156 3.125 16.2498V9.02324C3.1264 8.93674 3.14509 8.8514 3.17998 8.77224C3.21486 8.69308 3.26523 8.6217 3.32812 8.5623L9.57812 2.88261C9.69334 2.77721 9.84384 2.71875 10 2.71875C10.1562 2.71875 10.3067 2.77721 10.4219 2.88261L16.6719 8.5623C16.7348 8.6217 16.7851 8.69308 16.82 8.77224C16.8549 8.8514 16.8736 8.93674 16.875 9.02324V16.2498C16.875 16.4156 16.8092 16.5745 16.6919 16.6917C16.5747 16.809 16.4158 16.8748 16.25 16.8748H12.5C12.3342 16.8748 12.1753 16.809 12.0581 16.6917C11.9408 16.5745 11.875 16.4156 11.875 16.2498Z" stroke="#5F6C72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Home
                </a>
                <svg class="arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 2.25L8.25 6L4.5 9.75" stroke="#77878F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="page-text text-secondary-500">Shoping Card</span>
            </p>
        </div>
    </div>
</div>

<div class="shopping-card-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping-card-body__wrapper">
                    <h6 class="title">Shopping Card</h6>
                    <div class="shopping-card-body__wrapper--table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Sub-Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="products" data-label="Products">
                                        <span class="product-wrapper">
                                            <button class="close-btn">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                          stroke="#929FA5" stroke-width="1.5" stroke-miterlimit="10" />
                                                    <path d="M15 9L9 15" stroke="#929FA5" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M15 15L9 9" stroke="#929FA5" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                            <img src="~/assets/media/ui/product/wishlist-3.png" alt="wishlist">
                                            <span class="text">Wired Over-Ear Gaming Headphones with USB</span>
                                        </span>
                                    </td>
                                    <td class="price" data-label="Price">
                                        <span class="price-wraper">
                                            <del class="del-price text-14 text-gray-400">$99</del>
                                            <span class="main-price text-14 text-gray-900">$70</span>
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-label="Quantity">
                                        <div class="product-quantity-count">
                                            <button class="button-count quantity-decrease">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.5 8H13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                            <input type="number" class="number-product quantity-one">
                                            <button class="button-count quantity-increase">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.5 8H13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M8 2.5V13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="sub-total" data-label="Sub-Total">
                                        $70
                                    </td>
                                </tr>
                                <tr>
                                    <td class="products" data-label="Products">
                                        <span class="product-wrapper">
                                            <button class="close-btn">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                                          stroke="#929FA5" stroke-width="1.5" stroke-miterlimit="10" />
                                                    <path d="M15 9L9 15" stroke="#929FA5" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M15 15L9 9" stroke="#929FA5" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                            <img src="~/assets/media/ui/product/wishlist-4.png" alt="wishlist">
                                            <span class="text">Wired Over-Ear Gaming Headphones with USB</span>
                                        </span>
                                    </td>
                                    <td class="price" data-label="Price">
                                        <span class="price-wraper">
                                            <span class="main-price text-14 text-gray-900">$250</span>
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-label="Quantity">
                                        <div class="product-quantity-count">
                                            <button class="button-count quantity-decrease-two">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.5 8H13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                            <input type="number" class="number-product quantity-two">
                                            <button class="button-count quantity-increase-two">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.5 8H13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M8 2.5V13.5" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="sub-total" data-label="Sub-Total">
                                        $250
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="shopping-card-body__wrapper--button">
                        <a class="btn btn-1 btn-outline-secondary" asp-controller="Product" asp-action="Index">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.875 10H3.125" stroke="#2DA5F3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M8.75 4.375L3.125 10L8.75 15.625" stroke="#2DA5F3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            Return to Shop
                        </a>
                        <a class="btn btn-2 btn-outline-secondary" href="#">Update cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shopping-card-body__card-total">
                    <div class="card-total-block">
                        <h6 class="title">Card Totals</h6>
                        <ul class="subtotal-list">
                            <li><span class="text">Sub-total</span><span class="ammount">$320</span></li>
                            <li><span class="text">Shipping</span><span class="ammount">Free</span></li>
                            <li><span class="text">Discount</span><span class="ammount">$24</span></li>
                            <li><span class="text">Tax</span><span class="ammount">$61.99</span></li>
                            <li class="line"></li>
                            <li><span class="total-text">Total</span><span class="total-ammount">$357.99 USD</span></li>
                        </ul>
                        <button class=" btn btn-primary w-100">
                            Proceed to Checkout <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="shopping-card-body__coupon-code">
                    <div class="coupon-code-block">
                        <h6 class="title">Coupon Code</h6>
                        <div class="coupon-code-block__form">
                            <form action="#" method="get">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address">
                                </div>
                                <button type="submit" class=" btn btn-secondary">
                                    Apply Coupon
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>