<div class="features-section-01">
    <div class="container">
        <div class="features-section-01__wrapper">
            <div class="single-item">
                <div class="card-features ">
                    <div class="card-image ">
                        <img src="~/assets/media/ui/features/package.png" alt="card" class="mw-100">
                    </div>
                    <div class="card-body p-0">
                        <h4 class="title heading-dark">Fasted Delivery</h4>
                        <p class="text">Delivery in 24/H</p>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="card-features ">
                    <div class="card-image ">
                        <img src="~/assets/media/ui/features/trophy.png" alt="card" class="mw-100">
                    </div>
                    <div class="card-body p-0">
                        <h4 class="title heading-dark">24 Hours Return</h4>
                        <p class="text">100% money-back guarantee</p>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="card-features ">
                    <div class="card-image ">
                        <img src="~/assets/media/ui/features/creditcard.png" alt="card" class="mw-100">
                    </div>
                    <div class="card-body p-0">
                        <h4 class="title heading-dark">Secure Payment</h4>
                        <p class="text">Your money is safe</p>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="card-features ">
                    <div class="card-image ">
                        <img src="~/assets/media/ui/features/headphones.png" alt="card" class="mw-100">
                    </div>
                    <div class="card-body p-0">
                        <h4 class="title heading-dark">Support 24/7</h4>
                        <p class="text">Live contact/message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>