@using ECommerceApp.Application.Services.Abstract
@inject ICategoryService _categoryService
@{
    var categories = _categoryService.GetHierarchicals();
}

<div class="footer-section-01">
    <div class="container">
        <div class="row card-row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <div class="logo">
                        <a href="#"><img src="~/assets/media/ui/logo/logo-primary.png" alt="logo"></a>
                    </div>
                    <div class="widget-content-info">
                        <span class="text-one">Customer Supports:</span>
                        <span class="phone">(629) 555-0129</span>
                        <span class="text-one">4517 Washington Ave. <br> Manchester, Kentucky 39495</span>
                        <span class="mail"><a href="mailto:info@ecomapp.com">info@ecomapp.com</a></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h2 class="title">Top Category</h2>
                    <ul class="footer-list-group">
                        @foreach (var category in categories)
                        {
                            <li><a href="#">@category.Category.CategoryLanguages.FirstOrDefault()?.Name</a></li>
                        }

                        <li class="text-btn">
                            <a asp-controller="Product" asp-action="Index" target="_blank">
                                Browse All Product
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.125 10H16.875" stroke="#EBC80C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#EBC80C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h2 class="title">Quick links</h2>
                    <ul class="footer-list-group">
                        <li><a asp-controller="Product" asp-action="Index" target="_blank">Shop Product</a></li>
                        <li><a asp-controller="ShoppingCart" asp-action="Index" target="_blank">Shoping Cart</a></li>
                        <li><a asp-controller="Product" asp-action="WishList" target="_blank">Wishlist</a></li>
                        <li><a asp-controller="Product" asp-action="Compare" target="_blank">Compare</a></li>
                        <li><a asp-controller="Order" asp-action="TrackOrder" target="_blank">Track Order</a></li>
                        <li><a href="#">Customer Help</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
           
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h2 class="title">Popular Tag</h2>
                    <ul class="footer-tag">
                        <li><a href="#">Game</a></li>
                        <li><a href="#">iPhone</a></li>
                        <li><a href="#">TV</a></li>
                        <li><a href="#">Asus Laptops</a></li>
                        <li><a href="#">Macbook </a></li>
                        <li><a href="#">SSD</a></li>
                        <li><a href="#">Graphics Card </a></li>
                        <li><a href="#">Power Bank </a></li>
                        <li><a href="#">Smart TV</a></li>
                        <li><a href="#">Speaker</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Microwave</a></li>
                        <li><a href="#">Samsung</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>