<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/plugins/global/fonts/fontawesome-5/css/all.min.css" />

    <link rel="stylesheet" href="~/assets/plugins/custom/aos/aos.min.css">
    <link rel="stylesheet" href="~/assets/plugins/custom/nice-select/nice-select.min.css">
    <link rel="stylesheet" href="~/assets/plugins/custom/slick/slick.css">

    <link rel="stylesheet" href="~/assets/css/main.css" />
    
    <style>
       
        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .dropdown-submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu>li:hover>.dropdown-submenu {
            display: block;
        }
    </style>
    

</head>
<body data-theme-mode-panel-active data-theme="light">
    <div class="site-wrapper overflow-hidden">
        @await Html.PartialAsync("_Header.cshtml")
        @await Html.PartialAsync("_Navbar.cshtml")
        @RenderBody()
        @await Html.PartialAsync("_Footer.cshtml")
    </div>
    




    <script src="~/assets/js/custom/vendor.min.js"></script>
   
    <script>
        /**
         * Replace all SVG images with inline SVG
         */
        $(document).ready(function () {
            $('img[class*="make-it-inline"]').each(function () {
                var $img = jQuery(this);
                var imgURL = $img.attr('src');
                var attributes = $img.prop("attributes");

                $.get(imgURL, function (data) {
                    // Get the SVG tag, ignore the rest
                    var $svg = jQuery(data).find('svg');

                    // Remove any invalid XML tags
                    $svg = $svg.removeAttr('xmlns:a');

                    // Loop through IMG attributes and apply on SVG
                    $.each(attributes, function () {
                        $svg.attr(this.name, this.value);
                    });

                    // Replace IMG with SVG
                    $img.replaceWith($svg);
                }, 'xml');
            });
        });
    </script>


<script src="~/assets/plugins/custom/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/plugins/custom/aos/aos.min.js"></script>
    <script src="~/assets/plugins/custom/counter-up/jquery.counterup.min.js"></script>
    <script src="~/assets/plugins/custom/counter-up/waypoints.min.js"></script>
    <script src="~/assets/plugins/custom/slick/slick.min.js"></script>
    <script src="~/assets/plugins/custom/countdown/jquery.countdown.min.js"></script>
    <script src="~/assets/plugins/custom/theme-mode-switcher/gr-theme-mode-switcher.js"></script>
    <!-- Activation Script -->
    <script src="~/assets/js/custom/custom.js"></script>
    <script src="~/assets/js/custom/menu.js"></script>

</body>
</html>
