@{
    Layout = null;
}
<div class="shop-category-section-01">
    <div class="container">
        <div class="section-title-block text-center">
            <h2 class="title">Shop with Categories</h2>
        </div>
        <div class="shop-category-section-01__slider">
            <div class="product-slider-02">
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-9.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">Computer & Laptop</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-10.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">SmartPhone</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-11.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">Headphones</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-12.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">Accessories</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-13.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">Camera & Photo</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-14.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">TV & Homes</h6>
                        </div>
                    </div>
                </a>
                <a href="#" class="single-item">
                    <div class="card-product card-product--02 ">
                        <div class="card-image ">
                            <img src="~/assets/media/ui/product/product-12.png" alt="card" class="mw-100">
                        </div>
                        <div class="card-body p-0">
                            <h6 class="title">Accessories</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="product-slider-02__control-buttons">
                <button class="button button--prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.25 12H3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="button button--next">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>