@model BrandModel
<div id="kt_app_toolbar" class="app-toolbar  py-1 py-lg-6 ">

    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-1 ">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                Brands
            </h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="/admin" class="text-muted text-hover-primary">
                        Home
                    </a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    Product
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    Brand
                </li>
                <!--end::Item-->

            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Toolbar container-->
</div>



<div id="kt_app_content" class="app-content  flex-column-fluid " data-select2-id="select2-data-kt_app_content">


    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container  container-xxl "
        data-select2-id="select2-data-kt_app_content_container">
        <div id="grid"></div>
    </div>
</div>





<div class="modal fade" id="brandCreateModal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-750px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <form class="form" asp-action="Create" asp-controller="Brand" method="post" id="createBrandForm"
                    enctype="multipart/form-data">
                    <div class="mb-3 text-center">
                        <h1 class="mb-1">Create Brand</h1>

                    </div>


                    <div class="d-flex flex-column mb-2 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Name"></label>
                        <input type="text" class="form-control form-control-solid" asp-for="Name" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <div class="d-flex flex-column mb-2 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Description"></label>
                        <input class="form-control form-control-solid content-editor" asp-for="Description"
                            id="description" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>


                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="LogoUrl"></label>
                    <style>
                        .image-input-placeholder {
                            background-image: url('../../../assets/media/svg/files/blank-image.svg');
                        }

                        [data-bs-theme="dark"] .image-input-placeholder {
                            background-image: url('../../../assets/media/svg/files/blank-image-dark.svg');
                        }
                    </style>

                    <!--end::Image input placeholder-->
                    <!--begin::Image input-->
                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
                        data-kt-image-input="true">
                        <!--begin::Preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px" id="createBrandImageDiv"></div>
                        <!--end::Preview existing avatar-->
                        <!--begin::Label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
                            data-bs-original-title="Change avatar" data-kt-initialized="1">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span
                                    class="path2"></span></i>
                            <!--end::Icon-->
                            <!--begin::Inputs-->
                            <input asp-for="File" accept=".png, .jpg, .jpeg">
                            <!--end::Inputs-->
                        </label>
                        <!--end::Label-->
                        <!--begin::Cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
                            data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                            <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </span>
                        <!--end::Cancel-->
                        <!--begin::Remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"
                            data-bs-original-title="Remove avatar" data-kt-initialized="1">
                            <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </span>
                        <!--end::Remove-->
                    </div>
                    <!--end::Image input-->



                    <span asp-validation-for="File" class="text-danger"></span>


                    <div class="d-flex flex-column mb-2 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="IsActive"></label>
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" checked="checked" asp-for="IsActive">
                        </label>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>

                </form>
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>


<div class="modal fade" id="brandEditModal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-850px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-5 px-lg-15 pt-0 pb-10">
                <div class="mb-2 text-center">
                    <h1 class="mb-3">Edit Brand</h1>

                </div>
                <form class="form" asp-action="Edit" asp-controller="Brand" method="post" id="editBrandForm"
                    enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="LogoUrl" />


                    <div class="d-flex flex-column mb-3 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Name"></label>
                        <input type="text" class="form-control form-control-solid" asp-for="Name" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="d-flex flex-column mb-2 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="Description"></label>
                        <input class="form-control form-control-solid content-editor" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>




                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="LogoUrl"></label>
                    <style>
                        .image-input-placeholder {
                            background-image: url('../../../assets/media/svg/files/blank-image.svg');
                        }

                        [data-bs-theme="dark"] .image-input-placeholder {
                            background-image: url('../../../assets/media/svg/files/blank-image-dark.svg');
                        }
                    </style>

                    <!--end::Image input placeholder-->
                    <!--begin::Image input-->
                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
                        data-kt-image-input="true">
                        <!--begin::Preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px" id="imageDiv"></div>
                        <!--end::Preview existing avatar-->
                        <!--begin::Label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
                            data-bs-original-title="Change avatar" data-kt-initialized="1">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span
                                    class="path2"></span></i>
                            <!--end::Icon-->
                            <!--begin::Inputs-->
                            <input asp-for="File" accept=".png, .jpg, .jpeg">
                            <!--end::Inputs-->
                        </label>
                        <!--end::Label-->
                        <!--begin::Cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
                            data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                            <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </span>
                        <!--end::Cancel-->
                        <!--begin::Remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"
                            data-bs-original-title="Remove avatar" data-kt-initialized="1">
                            <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </span>
                        <!--end::Remove-->
                    </div>
                    <!--end::Image input-->



                    <span asp-validation-for="File" class="text-danger"></span>

                    <div class="d-flex flex-column mb-3 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="IsActive"></label>
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" checked="checked" asp-for="IsActive">
                        </label>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="languageEditButton" class="btn btn-primary">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>

                </form>
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>


@section TopLevelJS
{
    <script type="text/javascript" src="/assets/plugins/custom/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}



@section Scripts
{
    <script>
        // kendo grid
        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetAll", "Brand", new { area = "Admin" })',
                        dataType: "json",
                        type: "post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation === "read") {
                            options.filter = options.filter || [];
                            return {
                                page: options.page,
                                pageSize: options.pageSize,
                                filter: options.filter
                            };
                        }
                    }
                },

                pageSize: 10,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                width: "100%",
                scrollable: true,
                schema: {
                    model: {
                        fields: {
                            isActive: { type: "boolean" }
                        }
                    },
                    data: "data",
                    total: "total"
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                filterable: {
                    operators: {
                        string: {
                            eq: "Eşit",
                            neq: "Eşit Değil",
                            startswith: "Başlayan",
                            contains: "İçeren",
                            doesnotcontain: "İçermeyen",
                            endswith: "Biten"
                        }
                    }
                },
                search: {
                    fields: [
                        { name: "name", operator: "contains" }
                    ]
                },
                toolbar:
                    [
                        { name: "search" },
                        {
                            name: "create",
                            text: "Add new item",
                            template: function (dataItem) {
                                // Define the button with the desired attributes                                
                                return '<button class="btn btn-primary btn-sm m-1" data-bs-toggle="modal" data-bs-target="#brandCreateModal"><span class="k-icon k-i-plus k-icon-18"></button>';
                            }
                        }
                    ],

                columns:
                    [
                        { field: "id", title: "Id", width: 20, hidden: true },
                        {
                            field: "name",
                            title: "Marka",
                            width: 30,
                            filterable: false,
                            template: function (dataItem) {

                                return `
                                                                            <div class="d-flex">
                                                                                <!--begin::Thumbnail-->
                                                                                <a href="/Admin/Brand/Edit/${dataItem.refId}" class="symbol symbol-40px">
                                                                                    <span class="symbol-label" style="background-image:url(/assets/images/${dataItem.logoUrl});"></span>
                                                                                </a>
                                                                                <!--end::Thumbnail-->

                                                                                <div class="ms-5">
                                                                                    <!--begin::Description-->
                                                                                    <div class="text-muted fs-7 fw-bold mt-3">${dataItem.name}</div>
                                                                                    <!--end::Description-->
                                                                                </div>
                                                                            </div>
                                                                            `;
                            }
                        },
                        {
                            field: "isActive",
                            title: "Aktif mi",
                            width: 20,
                            template: function (dataItem) {
                                if (dataItem.isActive == true) {
                                    return '<span class="k-icon k-i-check text-success"></span>';
                                } else {
                                    return '<span class="k-icon k-i-close text-danger"></span>';
                                }
                            },
                            filterable: {
                                ui: function (element) {
                                    element.kendoDropDownList({
                                        dataSource: [
                                            { text: "Aktif", value: true },
                                            { text: "Pasif", value: false }
                                        ],
                                        optionLabel: "Seç...",
                                        dataTextField: "text",
                                        dataValueField: "value"
                                    });
                                }
                            }
                        },
                        {
                            command: [
                                { name: "detail", text: "Detail", template: '<button class="btn btn-success btn-sm m-1" id="btnDetail"><span class="k-icon k-i-eye k-icon-18"></span></button>', width: 9 },
                                { name: "delete", text: "Delete", template: '<button class="btn btn-danger btn-sm" id="btnDelete"><span class="k-icon k-i-trash k-icon-18"></span></button>', width: 9 }
                            ],
                            title: "&nbsp;",
                            width: 18
                        }
                    ]
            });


            $("#grid th").css("text-align", "center");
            $("#grid tbody").css("text-align", "center");

            tinymceEditor();



            $("#grid").on("click",
                "#btnDelete",
                function (e) {
                    e.preventDefault();
                    var tr = $(this).closest("tr");
                    var dataItem = $("#grid").data("kendoGrid").dataItem(tr);

                    if (confirm("Kayıt Silinsin Mi?")) {
                        // Perform the delete operation
                        $.ajax({
                            url: "@Url.Action("Delete", "Brand", new { Area = "Admin" })",
                            type: "DELETE",
                            data: { id: dataItem.id },
                            success: function (response) {
                                if (response.success) {
                                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                                    // Refresh the grid
                                    dataSource.read();
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error(error);
                            },
                        });
                    }

                });

            // For to clear search input
            let clearButton = '<span class="k-link k-link-clear" aria-label="Clear the Search"><span unselectable="on" class="k-icon k-i-close"></span></span>';
            $(".k-grid-search").append(clearButton);
            $(".k-link-clear").click(function () {
                $(".k-grid-search input").val("").trigger("input");
            });


            $('#createBrandForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                if (form.valid()) {
                    var formData = new FormData(form[0]);
                    var description = tinyMCE.get('description').getContent();
                    formData.delete('Description');
                    formData.set('Description', description);
                    $.ajax({
                        url: form.attr('action'),
                        method: form.attr('method'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                $('#brandCreateModal').modal('hide');
                                // Clear form fields
                                form[0].reset();
                                $("#createBrandForm div[id='createBrandImageDiv']").css('background', '')

                                // Refresh the kendo grid
                                dataSource.read();
                            } else {
                                // Handle validation errors
                                displayValidationErrors(response.errors);
                            }
                        },
                        error: function () {
                            // Handle the AJAX request error
                            alert("An error occurred while submitting the form.");
                        }
                    });

                }

            });


            $("#grid").on("click",
                "#btnDetail",
                function (e) {
                    e.preventDefault();
                    // Make an AJAX request to fetch language data
                    var tr = $(this).closest("tr");
                    var dataItem = $("#grid").data("kendoGrid").dataItem(tr);

                    $.ajax({
                        url: "@Url.Action("Edit", "Brand", new { Area = "Admin" })/" + dataItem.id, // Replace with the actual URL to fetch language data
                        type: "GET",
                        dataType: "json",
                        success: function (response) {
                            if (response.success) {
                                $("#editBrandForm input[name='Id']").val(response.data.id);
                                $("#editBrandForm input[name='Name']").val(response.data.name);
                                $("#editBrandForm input[name='IsActive']").prop("checked", response.data.isActive);
                                $("#editBrandForm input[name='LogoUrl']").val(response.data.logoUrl);
                                tinymceEditor();
                                tinyMCE.get('Description').setContent(`${response.data.description === null ? '' : response.data.description}`);
                                var $divElement = $("#editBrandForm div[id='imageDiv']");
                                $divElement.css("background", `url(/assets/images/${response.data.logoUrl})`);
                                $divElement.css("background-size", "cover");


                                // Open the modal
                                $("#brandEditModal").modal("show");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });

            $('#editBrandForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                if (form.valid()) {
                    var formData = new FormData(form[0]);
                    let description = tinyMCE.activeEditor.getContent();
                    formData.delete('Description');
                    formData.set('Description', description);
                    $.ajax({
                        url: form.attr('action'),
                        method: form.attr('method'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                // Close languageCreateModal modal
                                $('#brandEditModal').modal('hide');
                                // Clear form fields
                                form[0].reset();
                                // Refresh the kendo grid
                                dataSource.read();
                            } else {
                                // Handle validation errors
                                displayValidationErrors(response.errors);
                            }
                        },
                        error: function () {
                            // Handle the AJAX request error
                            alert("An error occurred while submitting the form.");
                        }
                    });
                }
            });
            function displayValidationErrors(errors) {
                // Clear previous validation error messages
                $('.validation-error').empty();

                // Display the new validation errors
                $.each(errors, function (key, value) {
                    var errorSpan = $('[data-valmsg-for="' + key + '"]');
                    errorSpan.html(value);
                });
            }


        });



    </script>
}